doctype html
html
  include bootstrap_top.pug

  body
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="/dashboard") Dashboard
        ul(class="nav navbar-nav navbar-right")         
          div(class="btn-group" role="group")    
            button(type="button" class="btn btn-outline-secondary" disabled) Logged in as #{user} (admin)
            a(href="/logout" class="btn btn-secondary" role="button") Logout
    div(class="container")
        div(class="card")
            div(class="card-body")
                div(class="row")
                    h1(class="col") #{info.name} 
                    h1(class="col-sm-auto") Access code: #{info.code}
                div(class="row")
                    div(class="col")
                        h2 Students
                        if students && students.length > 0
                           ul(class="list-group")
                           each student in students
                              a(class="list-group-item" href="/student?id=" + student.id + "&cl=" + info.id) #{student.name} 
                    div(class="col")
                        h2 Assignments
                        if assignments && assignments.length > 0
                          ul(class="list-group")
                          each assignment in assignments 
                            a(class="list-group-item" href="/assign?id=" + assignment.id) #{assignment.title}
                        a(class="btn btn-primary" href="/newassign?class=" + info.id) Create an assignment
               
    include bootstrap_bot.pug