doctype html
html
  include bootstrap_top.pug

  body
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="/dashboard") Dashboard
        ul(class="nav navbar-nav navbar-right")
          div(class="btn-group" role="group")    
            button(type="button" class="btn btn-outline-secondary" disabled) Logged in as #{user} (admin)
            a(href="/logout" class="btn btn-secondary" role="button") Logout
    div(class="container")
        div(class="card")
            div(class="card-body")
                div(class="row")
                    h1(class="col") #{info.name} - #{student.name}
                div(class="row")
                    h2 Assignments
                div(class="row")
                  table(class="table")
                    thead
                      th Title
                      th Date Due
                      th Submitted
                      th(class="col-auto")
                    each assign in assignments
                      -
                        var note;
                        if(assign.due_date) {
                          if(new Date() < new Date(assign.due_date)) {
                            if(assign.date) {
                              note = "";
                            } else {
                              note = "Not yet submitted";
                            }
                          } else {
                            if(assign.date) {
                              note = "";
                            } else {
                              note = "Past due";
                            }
                          }
                        } else {
                          if(assign.date) {
                            note = "";
                          } else {
                            note = "Not yet submitted";
                          }
                        }
                      tr()
                        td 
                          a(href="/assign?id=" + assign.id) #{assign.title}
                        if assign.due_date
                          td #{new Date(assign.due_date).toLocaleString()}
                        else
                          td -
                        if assign.date
                          td 
                            a(href="/submission?id=" + assign.sub) #{new Date(assign.date).toLocaleString()}
                        else
                          td -
                        td #{note}
               
    include bootstrap_bot.pug